@import url("https://fonts.googleapis.com/css2?family=Lacquer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Lacquer&display=swap");

:root {
  --main-stroke: #353535;
  --secondary-stroke: #707070;
  --page-background: #242424;
  --server-details-background: #fff396;
  --main-white: #ffffff;
  --main-red: #ff4145;
  --secondary-red: #ff5454;
  --main-green: #44ff7e;
  --main-purple: #523fff;

  --default-font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-font-family: "Jersey 15", var(--default-font-family);
  --secondary-font-family: "Lacquer", var(--default-font-family);

  --10-px-rem: 0.625rem;
  --13-px-rem: 0.812rem;
  --16-px-rem: 1rem;
  --20-px-rem: 1.25rem;
  --25-px-rem: 1.562rem;
  --31-px-rem: 1.938rem;
  --39-px-rem: 2.438rem;
  --49-px-rem: 3.062rem;

  --default-h1: var(--49-px-rem);
  --default-h2: var(--39-px-rem);
}

h1 {
  font-size: var(--default-h1);
}

h2 {
  font-size: var(--default-h2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family), sans-serif;
  background-color: var(--page-background);
}
